@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url(./img/BG.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

/* navbar */
.menu {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 15rem;
}

.navbar {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  animation: fade-in ease-in-out 2s forwards;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  padding: 5px 10px;
  letter-spacing: 1px;
}


.navbar ul li a:hover{
  color: rgba(0, 0, 0, 0.555);
}

.headlogo {
  width: 10rem;
  height: 12rem;
  animation: slide-top ease-in-out 0.5s forwards;
}

button {
  background-color: white;
  border-radius: 30px;
  width: 4.5rem;
  height: 30px;
  font-size: 12px;
  font-weight: 550;
  border: none;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  animation: slide-top ease-in-out 1s forwards;
}

.nav-line {
  height: 0.2px;
  width: 65rem;
  background: #9a979749;
  margin: auto;
}

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* content */
.content {
  padding-top: 3rem;
}

.text {
  text-align: center;
}

.content h1,
.content p {
  margin: 0;
  padding: 0;
  animation: fade-in ease-in-out 4s;
}

@keyframes  fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content h1 {
  font-size: 5.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.content p {
  margin-top: 10px;
  color: #000000ad;
}

.text p span {
  display: block;
}

/* center design */
.lineprogress ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  animation: fade-in ease-in-out 4.5s forwards;
}

.lineprogress i {
  background-color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 17px;
  margin-right: 50px;
}

.connection-line{
  height: 0.9px;
  width: 2rem;
  background-color: rgba(101, 95, 95, 0.245);
  margin-top: 10px;
  position: relative;
  bottom: -5px;
}

.lineprogress {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  color: rgba(101, 95, 95, 0.57);
}


.lineprogress ul .center {
  list-style: none ;
}

.lineprogress ul .two,
.three {
  font-size: 2.5rem;
  position: relative;
  bottom: 10px;
}

.lineprogress ul .one,
.four {
  font-size: 1.5rem;
}

.lineprogress .two,
.one {
  margin-left: 0rem;
  position: relative;
  left: 1.3rem;
}

.lineprogress .three,
.four {
  position: relative;
  right: 1.3rem;
}

.lineprogress .one {
  left: 8px;
}

.connection-line:nth-of-type(1) {
  right: 9px;
}

.connection-line:nth-of-type(3) {
  right: 52px;
}

.connection-line:nth-of-type(4) {
  right: 40px;
}

/* images */
img {
  cursor: pointer;
  border-radius: 2.8rem;
  align-items: center;
}

img:hover{
  transform: scale(1.05);
}

.image {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.first-img {
  padding-right: 0.5rem;
  max-height: 14rem;
  animation: slide-left ease-in-out 1s;
}

.last-img {
  padding-left: 0.5rem;
  max-height: 14rem;
  animation: slide-right ease-in-out 1s;
}

.center-img{
  animation: fade-in  ease-in-out 2s;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
